[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
lxml = "==3.4.4"
openpyxl = "==2.3.3"
"pg8000" = "*"
pymysql = "*"
numpy = "*"
rdflib = "*"
isodate = "*"
regex = "*"
"aniso8601" = "*"
graphviz = "*"
holidays = "*"
pycountry = "*"
crypto = "*"

[requires]
python_version = "3.6"
